{% extends "base.html" %}

{% block content %}
  <h1>Drivers List</h1>

  {% if driver_list %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>License Number</th>
        </tr>
      </thead>
      <tbody>
        {% for driver in driver_list %}
          <tr>
            <td>{{ driver.id }}</td>
            <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
            <td>{{ driver.license_number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No drivers to show.</p>
  {% endif %}
{% endblock %}
